/*Primero de todo añadimos margen, padding, fuente y box sizing a todos los elementos*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estilo del contenedor, que es realmente el gradiente que tenemos por detrás del bloque
del bolque to do */
.container{
    width: 100%; /* Para que ocupe la pantalla entera */
    min-height: 100vh; /*  Lo mismo que antes pero entorno a la altura */
    background: linear-gradient(135deg, #90aadf, #afa4b1);
    padding: 10px;
}

.todo_app{
    width: 100%; /* Anchura del contenedor to do */
    max-width: 540px;
    background: #fff;
    /* Margins y padding del contenedor */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    /* Con esto hacemos los bordes circulares */
    border-radius: 10px;
}

.todo_app h2{
    color: #002765;
    display: flex;
    align-items: center; /* Centra to do y el icono para que se vea mejor */
    margin-bottom: 20px;
}

.todo_app h2 img{
    width: 30px;
    margin-left: 10px;
}

.fila{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Centra los flex en este caso el input y el botón para que estén en el mismo eje */
    background: #b8b9bc;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    /* flex: 1 ayuda a determinar que el input va a ser el 
    primer elemento de la estructura flex*/
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    /* Cursor pointer cambia la forma de las que se ve el ratón cuando lo
    pasas por encima */
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* ul li::before ayuda a añadir un elmento antes de el contenido de la lista
en este caso es el cuadrado al que hay que hacerle click */
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;

}

/* Cambia el estilo de la tarea cuando la cambiamos a checked */
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

/* Cambia el elemento que aparece antes de la tarea cuando la cambiamos a checked */

ul li.checked::before{
    background-image: url(images/checked.png);
}

/* Utilizamos el elementos span para la x de eliminar la tarea  */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #6b3f3f;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
/* Cuando pasamos el ratón por encima */
ul li span:hover{
    background: #acadaf;
}